/* reset margin & padding from css */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

/* --- header --- */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    gap: 15vw;
    font-size: 2rem;
}

.options {
    display: flex;
    gap: 5vw;
}

.options .celsius {
    background-color: green;
    border-radius: 6px;
}

.options .fahrenheit {
    background-color: green;
    border-radius: 6px;
}

.options img:hover {
    background-color: mediumaquamarine;
    border-radius: 6px;
}

/* --- form --- */
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 5vw;
}

.form-container > input {
    width: 45vw;
    font-size: 1.25rem;
}

/* --- weather --- */
.location-container {
    display: flex;
    border: 1px solid black;
    margin-top: 2.5vh;
    gap: 5vw;
}

.location-container > div {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    padding: 1vh 1vw;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 45vw;
    margin-top: 5vh;
    gap: 2.5vh;
}

.weather-container > div {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

#gif {
    max-width: 45vw;
    max-height: 40vh;
}